<h2>{{data.currentUser.name}}
  <span *ngIf="data.userStatus !== 'SELF_REVIEW'">TotalScore - <b>{{this.totalScore |  number : '1.2-2'}}</b></span>
</h2>
<div class="userDetails">
  <table>
    <thead>
      <tr>
        <th>Designation</th>
        <th>Joining Date</th>
        <th>Last Appraisal date</th>
        <th>Appraisal Period</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data.currentUser.designation}}</td>
        <td>{{data.currentUser.joiningDate | date}}</td>
        <td>{{data.currentUser.lastAppraisalDate | date}}</td>
        <td>{{data.currentUser.duration}}&nbsp;days</td>
        <td>{{status}}</td>
      </tr>
    </tbody>
  </table>
</div>

<mat-dialog-content>
  <div *ngIf="data.userStatus === 'SELF_REVIEW'">
    <p>Self Review Pending</p>
  </div>

  <div *ngIf="data.userStatus !== 'SELF_REVIEW'">
    <mat-accordion>
      <mat-expansion-panel class="expansion-panel" #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 70%">Goals/Targets achieved</mat-panel-title>
          <mat-panel-description fxHide="false" fxHide.lt-md style="justify-content: space-evenly"></mat-panel-description>
        </mat-expansion-panel-header>
        <app-self-appraisal-sectionone [appraisalVisibility]="appraisalVisibility" [reviewerVisibility]="reviewerVisibility" [currentUser]="data.currentUser" [currentStatus]="status"></app-self-appraisal-sectionone>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 70%">Additional activities/tasks performed</mat-panel-title>
          <mat-panel-description fxHide="false" fxHide.lt-md style="justify-content: space-evenly"></mat-panel-description>
        </mat-expansion-panel-header>
        <app-self-appraisal-sectiontwo [section]="'sectiontwo'" [appraisalVisibility]="appraisalVisibility" [reviewerVisibility]="reviewerVisibility" [currentUser]="data.currentUser"></app-self-appraisal-sectiontwo>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 70%">Future Aspirations</mat-panel-title>
          <mat-panel-description fxHide="false" fxHide.lt-md style="justify-content: space-evenly"></mat-panel-description>
        </mat-expansion-panel-header>
        <app-self-appraisal-sectiontwo [section]="'sectionthree'" [appraisalVisibility]="appraisalVisibility" [reviewerVisibility]="reviewerVisibility" [currentUser]="data.currentUser"></app-self-appraisal-sectiontwo>
        <mat-action-row></mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 70%">Additional Feedback from appraisee</mat-panel-title>
          <mat-panel-description fxHide="false" fxHide.lt-md style="justify-content: space-evenly"></mat-panel-description>
        </mat-expansion-panel-header>
        <app-self-appraisal-sectionfour [appraisalVisibility]="appraisalVisibility" [currentUser]="data.currentUser"></app-self-appraisal-sectionfour>
        <mat-action-row></mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="expansion-panel" #mep="matExpansionPanel">
        <mat-expansion-panel-header>
          <mat-panel-title style="width: 70%">Additional Feedback from you</mat-panel-title>
          <mat-panel-description fxHide="false" fxHide.lt-md style="justify-content: space-evenly"></mat-panel-description>
        </mat-expansion-panel-header>
        <app-self-appraisal-sectionfive [appraisalVisibility]="reviewerVisibility" [currentUser]="data.currentUser"></app-self-appraisal-sectionfive>
        <mat-action-row></mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-dialog-content>

<mat-dialog-actions style="display: flex;">
  <div *ngIf="error" class="error">
    <mat-icon color="warn">error</mat-icon>
    <mat-label class="label"><a title="Click to see Errors" (click)="openDialog()">{{error.error.sectionOneError.length}} errors</a></mat-label>
  </div>
  <div class="button-holder" *ngIf="showSaveSubmit">
    <div *ngIf="data.userStatus === 'SELF_REVIEW' || data.userStatus === 'COMPLETE'">    
      <button type="button" mat-stroked-button mat-button [mat-dialog-close] >
        <mat-icon>close</mat-icon>
        Close
      </button>
    </div>
    <div *ngIf="data.userStatus === 'PROJECT_MANAGER' || 'REPORTING_MANAGER' || 'PRACTICE_DIRECTOR' || 'HR'">
      <button type="button" mat-stroked-button mat-button (click)="save()">
        <mat-icon>create</mat-icon>
        Save
      </button>
      <button type="button" mat-stroked-button mat-button (click)="submitReviewerResponse()" [mat-dialog-close]>
        <mat-icon>done</mat-icon>
        Submit
      </button>
      <!-- <button type="button" mat-stroked-button mat-button (click)="markAsScheduled()" [mat-dialog-close]>
        <mat-icon>schedule</mat-icon>
        Mark as Scheduled
      </button> -->
    </div>
    <div *ngIf="data.userStatus === 'SCHEDULED'">
      <button type="button" mat-stroked-button mat-button (click)="completeAppraisal()" [mat-dialog-close]>
        <mat-icon>done</mat-icon>
        Mark as Complete
      </button>  
    </div>
  </div>
</mat-dialog-actions>
