<div>
  <mat-accordion *ngFor="let row of data">
    <mat-expansion-panel class="expansion-panel" #mep="matExpansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title style="display: inline-block">
          {{row.group}} > {{row.criteria}}
          <span style="float: right"> Weightage: {{row.weightage * 100 | number : '1.1-1'}}%</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{row.description}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
</div>
