<form *ngIf="appraisalVisibility === 'EDITABLE'" class="form">
  <div *ngFor="let topic of sectionTopics; let i = index;">
    <h3>Topic {{i+1}}
      <button type="button" mat-icon-button color="warn" (click)="removeTopic(i)" matTooltip="Remove Topic" matTooltipPosition="after"  class="btn btn-outline-primary sharp" (focusout)="save(sectionTopics, 'Saved')"><mat-icon>remove_circle_outline</mat-icon></button>
    </h3>
    <div class="topic">
      <mat-form-field class="full-width">
        <input matInput placeholder="Topic" [(ngModel)]="sectionTopics[i].topic" [ngModelOptions]="{standalone: true}" [disabled]="reviewer === true" (focusout)="save(sectionTopics, 'Saved')">
      </mat-form-field>

      <mat-form-field class="monthinput">
        <input matInput placeholder="Duration" [(ngModel)]="sectionTopics[i].duration" [ngModelOptions]="{standalone: true}" [disabled]="reviewer === true" (focusout)="save(sectionTopics, 'Saved')">
      </mat-form-field>months

      <mat-form-field class="full-width">
        <textarea style="width: 100%" matInput matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=4 placeholder="Comments" [(ngModel)]="sectionTopics[i].comment" [ngModelOptions]="{standalone: true}" [disabled]="reviewer === true" (focusout)="save(sectionTopics, 'Saved')"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
<button *ngIf="appraisalVisibility === 'EDITABLE'" type="button" mat-stroked-button (click)="addTopic()" class="btn btn-outline-primary sharp">
  <mat-icon color="primary">add</mat-icon>Add
</button>

<form *ngIf="appraisalVisibility === 'READ-ONLY'" class="form">
  <div *ngFor="let topic of sectionTopics; let i = index;">
    <h3>Topic {{i+1}}
      <button [disabled]="true" type="button" mat-icon-button color="warn" (click)="removeTopic(i)" matTooltip="Remove Topic" matTooltipPosition="after"  class="btn btn-outline-primary sharp" (focusout)="save(sectionTopics, 'Saved')"><mat-icon>remove_circle_outline</mat-icon></button>
    </h3>
    <div class="topic">
      <mat-form-field class="full-width">
        <input [disabled]="true" matInput placeholder="Topic" [(ngModel)]="sectionTopics[i].topic" [ngModelOptions]="{standalone: true}" [disabled]="reviewer === true" (focusout)="save(sectionTopics, 'Saved')">
      </mat-form-field>

      <mat-form-field class="monthinput">
        <input [disabled]="true" matInput placeholder="Duration" [(ngModel)]="sectionTopics[i].duration" [ngModelOptions]="{standalone: true}" [disabled]="reviewer === true" (focusout)="save(sectionTopics, 'Saved')">
      </mat-form-field>months

      <mat-form-field class="full-width">
        <textarea [disabled]="true" style="width: 100%" matInput matTextareaAutosize matAutosizeMinRows=4 matAutosizeMaxRows=4 placeholder="Comments" [(ngModel)]="sectionTopics[i].comment" [ngModelOptions]="{standalone: true}" [disabled]="reviewer === true" (focusout)="save(sectionTopics, 'Saved')"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
<button *ngIf="appraisalVisibility === 'READ-ONLY'" [disabled]="true" type="button" mat-stroked-button (click)="addTopic()" class="btn btn-outline-primary sharp">
  <mat-icon color="primary">add</mat-icon>Add
</button>
