.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  .mat-table {
    overflow: auto;
    max-height: 500px;
    .mat-header-row {
      min-height: 48px;
    }
    .mat-row {
      min-height: 40px;
    }
  }
}
.mobile-label {
  display: none;
}
.notify {
  float: right;
  margin: 20px 0 0;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 75px;
    display: inline-block;
    font-weight: bold;
  }
  .mat-header-row {
    display: none!important;
  }
  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 16px;
    .mat-cell:first-of-type {
      padding-left: 0;
    }
    &::after {
      min-height: auto;
    }
  }
}